/* Variables */
:root {
    --main-color: #191c32;
    --primary-color: aqua;
    --secondary-color: #fff;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Main styling */
body,
html {
    font-family: "Raleway", sans-serif;
    color: var(--secondary-color);
    line-height: 1.7em;
    background-color: var(--main-color);
}

hr {
    border: 0.5px solid var(--secondary-color);
}

  /* Utility Classes */
a {
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    object-fit: cover;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 30px;
    text-align: center;
}

.section {
    padding: 20px 0;
    overflow: hidden;
}

.line-break {
    padding-bottom: 10px;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.title {
    position: relative;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2rem;
    margin-bottom: 0.6rem;
}

.title:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    max-width: 600px;
    margin: 0 auto;
}

.navbar{
    position: fixed;
    z-index: 5;
    overflow: hidden;
    background-color: var(--main-color);
    width: 100%;
}

.navbar-container{
    display: flex;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
}

.txt-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100%;
}

.txt-btn li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.3%;
    transition: .2s;
}

.txt-btn li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: .2s;
}

.txt-btn li:hover {
    background: var(--primary-color);
    transition: .2s;
}

.txt-btn li a:hover{
    color: var(--main-color);
    transition: .2s;

}

.logo{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 20px;
}

.logo span {
    color: var(--primary-color);
}

.banner-header {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
        49deg,
        rgba(0, 212, 255, 0.6) 0%,
        rgba(134, 7, 224, 0.6) 100%
    ),
    url("../img/developer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-header-text{
    height: 100%;
    width: 60%;
    margin: auto;
    text-align: center;
    display: grid;
    place-content: center;
}

.portfolio h3{
    text-align: center;
}

.box{
    position: relative;
}

.box::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    border-radius: 3px;
    background-color: transparent;
    transform: translateX(-50%);
    transition: background-color 0.2s ease-in-out;
}

.box:hover::after {
    background-color: var(--primary-color);
}

.box img{
    width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    transition: .2s;
}

.box:hover img{
    transform:translateY(-10px);
    transition: .5s;
    border: 2px solid var(--primary-color);
}

.box:hover h3{
    color: var(--primary-color);
    transition: .5s;
}

.card-projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.btn{
    font-weight: 700;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #000000;
    margin-top: 20px;
    transition: .1s;
}

.btn:hover{
    color: var(--primary-color);
    background: var(--main-color);
    border: 2px solid var(--primary-color);
    transform: scale(.9);
    transition: .2s;
    cursor: pointer;
}

.main-footer{
    background: #01000e92;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.social-container li a{
    color: inherit;
}

.social-container li a i{
    transition: .2s;
}

.social-container li a i:hover{
    color: var(--primary-color);
    transition: .2s;
}